#image {
    /* user story 8 */
    width: 100%;
    max-width: min-content;

    /* user story 9 */
    display: block;
    margin: auto;
}
#img-div {
    margin: auto;
    width: 50%;
}
#img-caption {
    text-align: center;
}

#tribute-info {
    margin: auto;
    width: 75%;
}
#tribute-link {
    display: block;
    margin: 10px 42.9%;
}

@media (max-width: 500px) {
    #title {
        font-size: 1.88em;
    }
}
